{% load static %}

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>
<head>
<meta name="viewport" content="width=device-width,
        initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>EDIT: {{sheet.title}}</title>
<link rel="stylesheet" type="text/css"
        href="{% static 'pages/update.css' %}">
</head>


<body>






    <div class="login-page">
        <div class="form">
            <div class="login">
                <div class="login-header">
                    <h2>EDIT: {{ sheet.title }}</h2>
                    {% if sheet.t_img %}
                        <img src="{{sheet.t_img.url}}" alt="Profile Picture">
                    {% else%}
                        <img src="None" alt="Profile Picture">
                    {% endif %}
                    <p>
                    <small>
                        <em>{{ sheet.category }}</em>
                    </small>
                    </p>





                    <hr>
                    <div class="viewing">
                    <p><a href="/{{sheet.id}}">VIEW</a></p>
                    </div>

                </div>
            <hr>
            </div>

            {% if form.errors %}
            <hr>
            {{form.errors}}
            <hr>
            {% endif %}

            <form method="post" enctype="multipart/form-data" class="login-form">
            {% csrf_token %}
            {{form.media}}

            <div class="upload">
                {{form.t_img}}
            </div>
            <div>
                <table class="info">
                <tr>
                <td>Profile</td>
                <td>
                </td>
                </tr>
                <tr>
                <td>Debut</td>
                <td>{{form.t_debut}}</td>
                </tr>
                <tr>
                <td>Form Signature</td>
                <td>{{form.t_form}}</td>
                </tr>
                <tr>
                <td>Affiliation</td>
                <td>{{form.t_affil}}</td>
                </tr>
                <tr>
                <td>Birthday</td>
                <td>{{form.t_bday}}</td>
                </tr>
                <tr>
                <td>Birthplace</td>
                <td>{{form.t_bplace}}</td>
                </tr>
                <tr>
                <td>Age</td>
                <td>{{form.t_age}}</td>
                </tr>
                </table>
            </div>
            <hr><br>
                <div class="body">
                {{form.body}}
                </div>

            <div class="power">
            <table id="power" class="power">
            <tr>
            <th>S</th>
            <th>E</th>
            <th>M</th>
            <th>I</th>
            <th>R</th>
            <th>T</th>
            <th>=</th>
            </tr>
            <tr>
            <td>{{ form.rank_s }}</td>
            <td>{{ form.rank_e }}</td>
            <td>{{ form.rank_m }}</td>
            <td>{{ form.rank_i }}</td>
            <td>{{ form.rank_r }}</td>
            <td>{{ form.rank_t }}</td>
            <td><p id="total"></p></td>
            </tr>
            </table>
            </div>


            <h3>Trivia</h3>
            <p>{{ form.section6 }}</p>


            <input type="submit" value="Save"/>

            <div>
            </div>
            </form>
        </div>
    </div>
</body>

</form>
</html>
