{% load static %}

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>
<head>
<meta name="viewport" content="width=device-width,
        initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>EDIT: {{sheet.title}}</title>
<link rel="stylesheet" type="text/css"
        href="{% static 'pages/update.css' %}">
</head>


<body>






    <div class="login-page">
        <div class="form">
            <div class="login">
                <div class="login-header">
                    <h2>EDIT: {{ sheet.name}}</h2>
    
                    
                        
                    
                    





                    <hr>
                    <div class="viewing">
                    <p><a href="/{{sheet.slug}}">VIEW</a></p>
                    </div>

                </div>
            <hr>
            </div>

            {% if form.errors %}
            <hr>
            {{form.errors}}
            <hr>
            {% endif %}

            <form method="post" enctype="multipart/form-data" class="login-form">
            {% csrf_token %}
            <p>{{ form.as_p }}</p>

            <input type="submit" value="Save"/>

            <div>
            </div>
            </form>
        </div>
    </div>
</body>

</form>
</html>
