{% load static %}
<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<title>Hi! Tech SeatGeek Onboarding Portal </title>
<link rel="stylesheet" type="text/css"
      href="{% static 'login/login.css' %}">

</head>
<body>


  <body>

    <div class="login-page">
      <div class="form">
        <div class="login">
          <div class="login-header">
            <h2>Welcome!</h2>
            <p>Please enter your credentials to login.</p>
          </div>
          <hr>
        </div>

        <div class="login-form">
            <hr>

          <p class="message">Want to make a new entry?</p>
          <a class="links" href="/pages/entry">Create</a>
          <p class="message">Want to view current pages?</p>
          <a class="links" href="/pages/">View</a>

        </div>
      </div>
    </div>
</body>
</body>
</html>